body {
    background-color: #f5f7fa;
}

.active-product {
    background-color: #415fff !important;
    color: #fff !important;
}

.container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.title {
    text-align: center;
    margin-top: 2rem;
}

.list-phone {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.list-phone-item {
    color: #2a9aeb;
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #2a9aeb;
}

.active-list-phone-item {
    background-color: #2a9aeb;
    color: #fff;
}

.grid {
    row-gap: 2rem;
}

.col {
    margin-bottom: 1.5rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 30px 40px 0 rgba(212, 217, 232, 0.3);
}

.card img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.card iframe {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
}

.card__container {
    padding-block: 2rem;
}

.card__content {
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__article {
    width: 300px;
    /* Remove after adding swiper js */
    border-radius: 1.25rem;
    overflow: hidden;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: #b4b4b4;
    /* display: none; */
}

.swiper-button-prev {
    left: -0.5rem;
    z-index: 999;
}

.swiper-button-next {
    right: -0.5rem;
    z-index: 999;
}

.swiper-pagination-bullet {
    background-color: hsl(212, 32%, 40%);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #f5f5f5;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .card__data {
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .card__content {
        margin-inline: 3rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

/* For large devices */
@media screen and (min-width: 1120px) {
    .card__container {
        max-width: 1120px;
    }

    .swiper-button-prev {
        left: -1rem;
    }

    .swiper-button-next {
        right: -1rem;
    }
}
